<nav class="navbar">
    <div class="nav-inner">
      <a href="/rescon2026/index.html#home" class="nav-logo">
        <img src="/rescon2026/media/web/4.png" alt="RESCON logo" class="logo-img" />

      </a>
      <ul class="nav-links">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="homeBtn">Home <span
              style="font-size: 0.8em; margin-left: 2px;">▼</span></a>
          <ul class="dropdown-menu" id="homeMenu">
            <li><a href="/rescon2026/index.html#home">Home</a></li>
            <li><a href="/rescon2026/index.html#about">About</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="callForPapersBtn">Call for Abstracts <span
              style="font-size: 0.8em; margin-left: 2px;">▼</span></a>
          <ul class="dropdown-menu" id="callForPapersMenu">
            <li><a href="/rescon2026/index.html#submission">Important Dates</a></li>
            <li><a href="/rescon2026/guidelines/index.html">Guidelines</a></li>
            <li><a href="/rescon2026/docs/Flyer.pdf" target="_blank" class="btn">📄 Download Flyer</a></li>
            <!-- <li><a href="docs/brochure.pdf" target="_blank" class="btn">📋 Download Brochure</a></li> -->
            <li><a href="https://cmt3.research.microsoft.com/RESCON2026">Submit</a></li>
          </ul>
        </li>
        <li><a href="/rescon2026/index.html#themes">Themes</a></li>

        <li><a href="/rescon2026/index.html#committee">Committees</a></li>
        <li><a href="/rescon2026/workshops/index.html">Workshops</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-new" id="technicalBtn">
            Technical Programme
            <span style="font-size: 0.8em; margin-left: 2px;">▼</span>
          </a>
          <ul class="dropdown-menu" id="technicalMenu">
            <li><a href="/rescon2026/docs/Presentation Guidelines to Local Presenters 2026.pdf" target="_blank">Presentation Guidelines</a></li>
            <li><a href="/rescon2026/technical/index.html">Full Programme</a></li>
          </ul>
        </li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="speakersBtn">
            Speakers
            <span style="font-size: 0.8em; margin-left: 2px;">▼</span>
          </a>

          <ul class="dropdown-menu" id="speakersMenu">
            <li><a href="/rescon2026/speakers/keynote_speakers/index.html">Keynote Speakers</a></li>
            <li><a href="/rescon2026/speakers/plenary_speakers/index.html">Plenary Speakers</a></li>
          </ul>
        </li>
        <!-- <li><a href="gallery/index.html">Past Conferences</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="registrationBtn">
            Registration
            <span style="font-size: 0.8em; margin-left: 2px;">▼</span>
          </a>
          <ul class="dropdown-menu" id="registrationMenu">
            <li><a href="/rescon2026/index.html#notification_acceptance">Registration Dates</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScdwv7jhW-8reAsBaHvl7vMVjMelGG3d5XgHFJfUeCkgcXz1A/viewform?usp=sharing&ouid=108927143030996627628"
                target="_blank" rel="noopener noreferrer">Online Registration Form</a></li>
            <li><a href="/rescon2026/index.html#registration_fees">Registration Fees</a></li>
            </ul>
        </li>
      </ul>

      <a href="https://www.pgis.lk/"><img src="/rescon2026/images/web/PGIS Anniversary Logo.png" alt="PGIS Anniversary Logo"
          class="pgis-logo" /></a>

      <button type="button" class="hamburger" aria-label="Toggle menu"> 
        <span></span><span></span><span></span>
      </button>
    </div>
  </nav>

  